<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link type="text/css" rel="stylesheet" href="/css/SyntaxHighlighter.css"></link>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
</head>
<body>

<div class="site">
  <div class="title">
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        David Ngo<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="#"></a>
      </p>
    </div>
  </div>
</div>

  <script language="javascript" src="/js/shCore.js"></script>
  <script language="javascript" src="/js/shBrushCSharp.js"></script>
  <script language="javascript" src="/js/shBrushXml.js"></script>
  <script language="javascript">
    dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
  </script>
</body>
</html>
